.container {
  display: flex;
  align-items: center;
}

.imageWrapper {
  width: 60px;
  height: 60px;
  background: #b980f1;
  box-sizing: border-box;
  display: flex;
  margin-right: 15px;
  position: relative;
}

.loader {
  transform: scale(0.7);
}

.image {
  width: 100%;
  height: 100%;
}

.icon {
  display: block;
  width: 84%;
  height: 84%;
  margin: auto;
}

.mainTitle {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.subTitle {
  margin: 0;
  font-weight: normal;
  color: #747474;
}

.active {
  background: #ebf3fb;
}
