.container {
  padding-top: 40px;
}

.title {
  padding: 5vw 36px 0;
  font: 24px/26px 'YandexSans', Arial;
  line-height: 26px;
  color: #000;
  margin: 0 0 45px;
  text-align: center;
}

.list {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}

.btn {
  width: 15vw;
  height: 15vw;
  margin: 0 auto;
}

.skipTitle {
  color: #c5c5c5;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Roboto', Arial;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
