.circle {
  position: relative;
  background: #0065d9;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}
