.icon {
  display: inline-block;
}

.heart {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.skip {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.sound {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.sound-off {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.arrow-right {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.bird {
  width: 126px;
  height: 116px;
  opacity: 0.6;
}

