.icon {
  display: inline-block;
}

.player-list {
  width: 36px;
  height: 20px;
  fill: #fff;
}

.heart {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.skip {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.sound {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.sound-off {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.arrow-right {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.bird {
  width: 126px;
  height: 116px;
  opacity: 0.6;
}

.play {
  width: 23px;
  height: 24px;
  opacity: 0.6;
}

.pause {
  width: 23px;
  height: 24px;
  fill: #676767
}

.achievement-new {
  width: 108px;
  height: 108px;
}

.achievement-pop {
  width: 137px;
  height: 110px;
}

.achievement-friend {
  width: 110px;
  height: 110px;
}

.achievement-hype {
  width: 108px;
  height: 108px;
}

.achievement-superb {
  width: 108px;
  height: 108px;
}

.achievement-taste {
  width: 137px;
  height: 110px;
}

.close {
  width: 24px;
  height: 24px;
  fill: #e2ddff;
}

.back {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.settings {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.like {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.check {
  width: 25px;
  height: 24px;
  fill: #fff;
}

.plus {
  width: 24px;
  height: 24px;
  fill: #fff;
}
