{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [0],
    "import/extensions": [0],
    "jsx-a11y/href-no-hash": [0],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off"
  },
  "globals": {
    "document": true
  }
}
