.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7859ff;
  padding: 13px 0;
  box-sizing: border-box;
  width: 100%;
  height: 146px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.avatar {
  background-size: cover;
  box-shadow: none;
  width: 68px;
  height: 68px;
  margin-bottom: 2px;
  transition: all 0.5s ease-out;
}

.userName {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #ffffff;
  line-height: 24px;
}

.totalScore {
  margin-top: 2px;
  opacity: .8;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  line-height: 17px;
}

.button {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;

  &Back {
    left: 16px;
    top: 23px;
    width: 16px;
    height: 16px;
    background-image: url('./images/back.svg');
  }

  &Settings {
    right: 16px;
    top: 19px;
    width: 24px;
    height: 24px;
    background-image: url('./images/settings.svg');
  }
}

.sticky {
  transition: all 0.5s ease-out;
  height: 60px;

  .avatar {
    width: 0;
    height: 0;
  }

  .totalScore {
    display: none;
  }
}