.container {
  margin-top: 125px;
  transition: margin-top .2s ease-in-out;

  &Sticky {
    margin-top: 56px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7859ff;
  padding-top: 13px;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  width: 100%;
  height: 125px;
  z-index: 2;
  transition: all .2s ease-in-out;

  &Sticky {
    height: 56px;
    box-shadow: 0px -1px 4px 0px #000;

    .avatar {
      width: 0;
      height: 0;
    }
  }
}

.avatar {
  box-shadow: none;
  width: 68px;
  height: 68px;
  margin-bottom: 8px;
  transition: all .2s ease-in-out;

  &Cover {
    background-size: cover;
  }
}

.userName {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #ffffff;
  line-height: 24px;
}

.totalScore {
  margin-top: 2px;
  opacity: .8;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  line-height: 17px;
  text-align: center;
}

.button {
  position: fixed;

  &Back {
    left: 16px;
    top: 23px;
  }

  &Settings {
    right: 16px;
    top: 19px;
  }
}

.slider {
  display: flex;
  margin: 33px 0;
  align-items: baseline;

  :global div[class*='slide'] {
    flex-basis: 160px;
  }
}
