.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(0) translateZ(0);
  backface-visibility: hidden;
  transition: transform .3s;
  z-index: 2;
}

.containerShift {
  transform: translateY(-100vh) translateZ(0);
}

.slide {
  width: 100vw;
  height: auto;
}
