.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translateY(0);
  transition: transform .5s ease-in;
  z-index: 2;
}

.containerShift {
  transform: translateY(-100vh);
}

.slide {
  width: 100vw;
  height: auto;
}
