.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 200vw;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 0.5s;
}

.slide {
  width: 100vw;
  height: auto;
}
