.container {
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 15px;
  background-image: url(./images/bg.png);
  background-size: cover;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.22);
}

.subtitle {
  margin-bottom: 125px;
}