.container {
  padding: 20px 24px;
  margin-bottom: 24px;
  border-radius: 15px;
  background: url(./images/bg.png) no-repeat center center;
  background-size: cover;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.22);
}

.title {
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 125px;
}

.button {
  margin-left: auto;
}