@import '../../settings/colors';

.wrapper {
  display: flex;
  position: fixed;
  width: 200vw;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: blue;
}

.leftWrapper,
.rightWrapper {
  width: 50vw;
  height: 100%
}

.leftWrapper {
  background-color: red;
}

.rightWrapper {
  background-color: green;
}
