.wrapper {
  position: fixed;
  height: 110vh;
  width: 110vw;
}

.buttonLike {
  color: white;
  background-color: tomato;

}

.buttonDislike {
  color: white;
  background-color: tomato;
}

.buttonImg {
  color: white;
}
