.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 8vh;
  padding-top: 4vh;
  padding-bottom: 2vh;
}

.titleRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: white;
  font-family: 'YandexSans';
  line-height: 1.8rem;
}

.songName {
  font-size: 1.5rem;
}

.artistName {
  font-size: 1rem;
  opacity: 0.5;
}

.controlsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  height: 10vh;
  width: 65vw;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.buttonLike {
  color: white;
  background-color: tomato;
}

.buttonDislike {
  color: white;
  background-color: tomato;
}

.buttonArrowDown {
  background: url(./images/arrow_down.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  height: 24px;
  width: 24px;
  color: white;
}

.buttonArrowDown:focus { outline: none; }

.buttonDownload {
  background: url(./images/download.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  height: 24px;
  width: 24px;
  color: white;
}

.buttonDownload:focus { outline: none; }

.moodIcons {
  width: 78vw;
}

.buttonPrevious {
  background: url(./images/previous.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  height: 30px;
  width: 30px;
  color: white;
}

.buttonPrevious:focus { outline: none; }

.buttonPlay {
  background: url(./images/play.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  height: 36px;
  width: 36px;
  color: white;
}

.buttonPlay:focus { outline: none; }

.buttonNext {
  background: url(./images/next.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  height: 30px;
  width: 30px;
  color: white;
}

.buttonNext:focus { outline: none; }
