.button {
  display: block;
}

.yellow {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #ffd96b;
}

.single {
  background: none;
  margin-right: 10px;
}

.joystick {
  width: 28px;
  height: 37px;
}

.play {
  margin-left: 5px;
}