ul {
  white-space: nowrap;
}

li {
  display: inline-block;
}

.actionRing {
  background-color: tomato;
}

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vw;
  margin-left: 50vw;
  z-index: 12;
}

.emojiList {
  position: fixed;
  margin-left: 50vw;
  margin-top: 0vw;
  padding: 0;
  z-index: 12;
}

.actionList {
  position: fixed;
  margin-left: 50vw;
  margin-top: 0vw;
  padding: 0;
  z-index: 12;
}

.item {
  width: 32px;
  transition-timing-function: easeInOutSine;
  transition: all 0.06s;
  cursor: pointer;
}

.icon {
  width: 32px;
  height: 32px;
}

.spacer {
  width: 22vh;
  height: 11vh;
  margin-left: -8vh;
  margin-top: -20px;
  border-radius: 50%;
}

.title {
  font-family: 'YandexSans';
  font-size: 1em;
  position: fixed;
  width: 100vw;
  margin-top: -95vw;
  text-align: center;
  z-index: 12;
}
