ul {
  white-space: nowrap;
}

li {
  display: inline-block;
}

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vw;
  margin-left: 50vw;
  z-index: 12;
  touch-action: none;
  will-change: auto;
}

.emojiRing {
  z-index: 13;
}

.emojiList {
  position: fixed;
  margin-left: 50vw;
  margin-top: 0vw;
  padding: 0;
  z-index: 12;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

.actionList {
  position: fixed;
  margin-left: 50vw;
  margin-top: 0vw;
  padding: 0;
  z-index: 12;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

.item {
  width: 32px;
  cursor: pointer;
}

.icon {
  width: 32px;
  height: 32px;
}

.spacer {
  width: 18vh;
  height: 12vh;
  border-radius: 50%;
  margin-top: -8.5vh;
  margin-left: -6.5vh;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

.title {
  font-family: 'YandexSans';
  font-size: 1em;
  position: fixed;
  width: 100vw;
  margin-top: -95vw;
  text-align: center;
  z-index: 12;
}
