.addCard {
  position: absolute;
  right: 0;
  top: 0;
  padding: 24px;
}

.isLiked {
  right: -0px;
  top: -12px;
  padding: 15px 15px 15px 17px;
  border-radius: 15px 15px 0 15px;
  background: #ff7bca;
}
