.playlist {
  background: #7859ff;
  min-height: 100vh;
  padding: 16px;

  &-miniPlayer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  &-player {
    z-index: 2;
  }
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.paddingBottom {
  padding-bottom: 50px;
}

.enter {
  transform: translateY(100%);
}

.enter.enterActive {
  transform: translateY(0);
  transition: transform 0.3s;
}

.leave {
  transform: translateY(0);
  transition: transform 0.3s;
}

.leave.leaveActive {
  transform: translateY(100%);
}
