.playlist {
  background: #7859ff;
  min-height: 100vh;
  padding: 16px;

  &-miniPlayer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.container {
  max-width: 640px;
  margin: 0 auto;
  overflow-x: hidden;
}