.container {
  padding-top: 30px;
}

.title {
  padding: 0 36px;
  font: 24px/26px 'YandexSans', Arial;
  line-height: 26px;
  color: #000;
  margin-bottom: 58px;
}

.btn {
  position: absolute;
  bottom: 52px;
  left: 50%;
  margin-left: -27px;
}
