.wrapper {
  height: 260px;
  width: 260px;
  touch-action: none;
}

.circularImage {
  position: absolute;
  border-radius: 50%;
  object-fit: fill;
  height: 240px;
  width: 240px;
  padding: 10px;
  z-index: 1;
  touch-action: none;
}

.progressBar {
  position: absolute;
  height: 260px;
  width: 260px;
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 260px;
  width: 260px;
  z-index: 2;
  touch-action: none;
}

.timeLeft {
  color: #fff;
  font-family: 'YandexSans';
  font-size: 0.8rem;
  align-self: center;
  touch-action: none;
}

.spacer {
  height: 26vh;
  touch-action: none;
}

.buttonWrapper {
  align-self: center;
}

.buttonShazam {
  color: white;
  background: url('./images/shazam.svg') no-repeat;
  background-position: center center;
  height: 40px;
  width: 40px;
}

.buttonShazam:focus { outline: none; }
