.icon {
  display: inline-block;
}

.emoji-angry {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-angry.svg');
  background-size: cover;
}

.emoji-crying {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-crying.svg');
  background-size: cover;
}

.emoji-grin {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-grin.svg');
  background-size: cover;
}

.emoji-spooky {
  width: 66px;
  height: 69px;
  background: url('./images/emoji-spooky.svg');
  background-size: cover;
}

.emoji-sunglasses {
  width: 66px;
  height: 68px;
  background: url('./images/emoji-sunglasses.svg');
  background-size: cover;
}

.emoji-tongue-out {
  width: 66px;
  height: 70px;
  background: url('./images/emoji-tongue-out.svg');
  background-size: cover;
}

.emoji-sad {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-sad.svg');
  background-size: cover;
}

.emoji-zzz {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-zzz.svg');
  background-size: cover;
}

.emoji-heart-eyes {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-heart-eyes.svg');
  background-size: cover;
}

.arrow-right {
  width: 24px;
  height: 24px;
  background: url('./images/arrow-right.svg');
  background-size: cover;
}
