.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player-list {
  width: 36px;
  height: 20px;
  fill: #fff;
}

.emoji-angry {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-angry.png');
  background-size: cover;
}

.emoji-crying {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-crying.png');
  background-size: cover;
}

.emoji-grin {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-grin.png');
  background-size: cover;
}

.emoji-spooky {
  width: 66px;
  height: 69px;
  background: url('./images/emoji-spooky.png');
  background-size: cover;
}

.emoji-sunglasses {
  width: 66px;
  height: 68px;
  background: url('./images/emoji-sunglasses.png');
  background-size: cover;
}

.emoji-tongue-out {
  width: 67px;
  height: 70px;
  background: url('./images/emoji-tongue-out.png');
  background-size: cover;
}

.emoji-sad {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-sad.png');
  background-size: cover;
}

.emoji-zzz {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-zzz.png');
  background-size: cover;
}

.emoji-heart-eyes {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-heart-eyes.png');
  background-size: cover;
}

.emoji-angry-small {
  width: 32px;
  height: 32px;
  background: url('./images/emoji-angry.png');
  background-size: cover;
}

.emoji-crying-small {
  width: 32px;
  height: 32px;
  background: url('./images/emoji-crying.png');
  background-size: cover;
}

.emoji-grin-small {
  width: 32px;
  height: 32px;
  background: url('./images/emoji-grin.png');
  background-size: cover;
}

.emoji-spooky-small {
  width: 32px;
  height: 32px;
  background: url('./images/emoji-spooky.png');
  background-size: cover;
}

.emoji-sunglasses-small {
  width: 32px;
  height: 32px;
  background: url('./images/emoji-sunglasses.png');
  background-size: cover;
}

.emoji-tongue-out-small {
  width: 32px;
  height: 32px;
  background: url('./images/emoji-tongue-out.png');
  background-size: cover;
}

.emoji-sad-small {
  width: 32px;
  height: 32px;
  background: url('./images/emoji-sad.png');
  background-size: cover;
}

.emoji-zzz-small {
  width: 32px;
  height: 32px;
  background: url('./images/emoji-zzz.png');
  background-size: cover;
}

.emoji-heart-eyes-small {
  width: 32px;
  height: 32px;
  background: url('./images/emoji-heart-eyes.png');
  background-size: cover;
}

.action-music {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-music.png');
}

.action-song {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-song.png');
}

.action-sport {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-sport.png');
}

.action-car {
  width: 178px;
  height: 140px;
  background-image: url('./images/action-car.png');
}

.action-game {
  width: 155px;
  height: 137px;
  background-image: url('./images/action-game.png');
}

.action-dance {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-dance.png');
}

.action-dont-know {
  width: 159px;
  height: 140px;
  background-image: url('./images/action-dont-know.png');
}

.action-food {
  width: 146px;
  height: 140px;
  background-image: url('./images/action-food.png');
}

.action-fun {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-fun.png');
}

.action-music-small {
  width: 32px;
  height: 32px;
  background-image: url('./images/action-music.png');
}

.action-song-small {
  width: 32px;
  height: 32px;
  background-image: url('./images/action-song.png');
}

.action-sport-small {
  width: 32px;
  height: 32px;
  background-image: url('./images/action-sport.png');
}

.action-car-small {
  width: 32px;
  height: 32px;
  background-image: url('./images/action-car.png');
}

.action-game-small {
  width: 32px;
  height: 32px;
  background-image: url('./images/action-game.png');
}

.action-dance-small {
  width: 32px;
  height: 32px;
  background-image: url('./images/action-dance.png');
}

.action-dont-know-small {
  width: 32px;
  height: 32px;
  background-image: url('./images/action-dont-know.png');
}

.action-food-small {
  width: 32px;
  height: 32px;
  background-image: url('./images/action-food.png');
}

.action-fun-small {
  width: 32px;
  height: 32px;
  background-image: url('./images/action-fun.png');
}

.arrow-right {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.heart {
  width: 20px;
  height: 18px;
  fill: #fff;
}

.skip {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.sound {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.sound-off {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.play-card {
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.pause-card {
  width: 24px;
  height: 24px;
}

.bird {
  width: 126px;
  height: 116px;
  opacity: 0.6;
}

.thumbs-up {
  width: 32px;
  height: 45px;
  background-image: url('./images/thumbs-up.png');
}

.achievement-new {
  width: 108px;
  height: 108px;
}

.achievement-pop {
  width: 137px;
  height: 110px;
}

.achievement-friend {
  width: 110px;
  height: 110px;
}

.achievement-hype {
  width: 108px;
  height: 108px;
}

.achievement-superb {
  width: 108px;
  height: 108px;
}

.achievement-taste {
  width: 137px;
  height: 110px;
}

.achievement-disabled {
  width: 160px;
  height: 108px;
  display: block;
  margin: 0 auto;
  width: 108px;
  height: 108px;
  background-color: #323535;
  background-image: url('./images/glasses.png');
  background-size: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .achievement-disabled {
    background-image: url('./images/glasses@2x.png');
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
  .achievement-disabled {
    background-image: url('./images/glasses@3x.png');
  }
}

.close {
  width: 24px;
  height: 24px;
  fill: #e2ddff;
}

.back {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.settings {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.like {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.entrance-emoji {
  width: 33px;
  height: 33px;
  background-image: url('./images/entrance-emoji.png');
  vertical-align: text-top;
}

.entrance-emoji-stop {
  width: 20px;
  height: 20px;
  background-image: url('./images/entrance-emoji-stop.png');
  margin-left: 5px;
}

.check {
  width: 25px;
  height: 24px;
  fill: #fff;
  stroke: #fff;
}

.plus {
  width: 24px;
  height: 24px;
}

.repeat {
  width: 24px;
  height: 24px;
}
