.icon {
  display: inline-block;
}

.emoji-angry {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-angry.png');
  background-size: cover;
}

.emoji-crying {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-crying.png');
  background-size: cover;
}

.emoji-grin {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-grin.png');
  background-size: cover;
}

.emoji-spooky {
  width: 66px;
  height: 69px;
  background: url('./images/emoji-spooky.png');
  background-size: cover;
}

.emoji-sunglasses {
  width: 66px;
  height: 68px;
  background: url('./images/emoji-sunglasses.png');
  background-size: cover;
}

.emoji-tongue-out {
  width: 67px;
  height: 70px;
  background: url('./images/emoji-tongue-out.png');
  background-size: cover;
}

.emoji-sad {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-sad.png');
  background-size: cover;
}

.emoji-zzz {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-zzz.png');
  background-size: cover;
}

.emoji-heart-eyes {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-heart-eyes.png');
  background-size: cover;
}

.arrow-right {
  width: 24px;
  height: 24px;
  background: url('./images/arrow-right.svg');
  background-size: cover;
}

.heart {
  width: 20px;
  height: 18px;
  background: url('./images/heart.svg');
  background-size: cover;
}
