.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.emoji-angry {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-angry.png');
  background-size: cover;
}

.emoji-crying {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-crying.png');
  background-size: cover;
}

.emoji-grin {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-grin.png');
  background-size: cover;
}

.emoji-spooky {
  width: 66px;
  height: 69px;
  background: url('./images/emoji-spooky.png');
  background-size: cover;
}

.emoji-sunglasses {
  width: 66px;
  height: 68px;
  background: url('./images/emoji-sunglasses.png');
  background-size: cover;
}

.emoji-tongue-out {
  width: 67px;
  height: 70px;
  background: url('./images/emoji-tongue-out.png');
  background-size: cover;
}

.emoji-sad {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-sad.png');
  background-size: cover;
}

.emoji-zzz {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-zzz.png');
  background-size: cover;
}

.emoji-heart-eyes {
  width: 66px;
  height: 66px;
  background: url('./images/emoji-heart-eyes.png');
  background-size: cover;
}

.action-music {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-music.png');
}

.action-song {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-song.png');
}

.action-sport {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-sport.png');
}

.action-car {
  width: 178px;
  height: 140px;
  background-image: url('./images/action-car.png');
}

.action-game {
  width: 155px;
  height: 137px;
  background-image: url('./images/action-game.png');
}

.action-dance {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-dance.png');
}

.action-dont-know {
  width: 159px;
  height: 140px;
  background-image: url('./images/action-dont-know.png');
}

.action-food {
  width: 146px;
  height: 140px;
  background-image: url('./images/action-food.png');
}

.action-fun {
  width: 140px;
  height: 140px;
  background-image: url('./images/action-fun.png');
}

.arrow-right {
  width: 24px;
  height: 24px;
  background-image: url('./images/arrow-right.svg');
}

.heart-red {
  width: 20px;
  height: 18px;
  background-image: url('./images/heart-red.svg');
}

.play-card {
  width: 23px;
  height: 24px;
  opacity: 0.6;
  background-image: url('./images/play.svg');
}
