.circle {
  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  background: #ffde5a;
  display: flex;
  margin: 0 auto 20px;
}

.icon {
  margin: auto;
  width: 55%;
}

.title {
  font: normal 26px/24px 'YandexSans';
  text-align: center;
}
