.circle {
  width: 235px;
  height: 235px;
  border-radius: 50%;
  background: #ffde5a;
  display: flex;
  margin: 0 auto 24px;
}

.icon {
  margin: auto;
}

.title {
  font: normal 26px/24px 'YandexSans';
  text-align: center;
}
