.title {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 35px;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  user-select: none;

  @media (min-width: 360px) {
    font-size: 56px;
  }
}