.background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin-top: 60px;
  opacity: 0.5;
  filter: blur(5px);
  overflow: hidden;
  background-color: #4c0000;
  z-index: 10;
}

.circle {
  position: fixed;
  border-radius: 50%;
  top: 0;
  width: 200vw;
  height: 200vw;
  margin-left: -50vw;
  background-color: white;
  z-index: 10;
}

.ringBorderOuter {
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  background-color: transparent;
  width: 170vw;
  height: 170vw;
  border solid 1px #eee;
  margin-left: 15vw;
  top: 15vw;
}

.ringBorderMiddle {
  position: fixed;
  z-index: 11;
  border-radius: 50%;
  background-color: transparent;
  width: 130vw;
  height: 130vw;
  border solid 1px #eee;
  margin-left: 35vw;
  top: 35vw;
}

.ringBorderInner {
  position: fixed;
  z-index: 12;
  border-radius: 50%;
  background-color: transparent;
  width: 90vw;
  height: 90vw;
  border solid 1px #eee;
  margin-left: 55vw;
  top: 55vw;
}

.ringOk {
  position: fixed;
  z-index: 13;
  border-radius: 50%;
  width: 70vw;
  height: 70vw;
  background-color: gold;
  z-index: 20;
  margin-left: 65vw;
  top: 65vw;
  text-align: center;
}

.ringOkTitle {
  font-family: 'YandexSans';
  font-weight: bold;
  font-size: 2.2em;
  color: white;
  margin-top: 10px;
}
