.container {
  padding: 27px 10px 23px;
  margin-bottom: 24px;
  border-radius: 15px;
  background-size: cover;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.22);
  background-image: linear-gradient(151deg, #7f44ff, #5fa9ff);
}

.title {
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 67px;
}

.button {
  width: 100%;
  border-radius: 30px;
  background-color: #ffdc60;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  padding: 14px 0 13px;
}

.icon {
  max-width: 34px;
  height: 45px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.info {
  padding: 0 14px;
}