.imageContainer {
    padding-top: 5vh;
    width: 100vw;
    height: 45vh;
    box-sizing: border-box;
    background-image: url('./images/entrance-cloud.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    font-size: 56px;
    letter-spacing: -1.2px;
    font-weight: bold;
    line-height: 1.2;

    &Wrapper {
        padding-left: 24px;
    }
}

.subTitle {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 2vh;
}

@media screen and ( max-height: 567px ){
    .title {
        font-size: 36px;
        font-size: calc(30px + 1.5vh);
    }

    .subTitle {
        font-size: 18px;
        line-height: 1.2;
        font-size: calc(14px + 1.2vh);
    }
}

@media screen and ( max-height: 480px ){
    .titleWrapper {
        position: absolute;
        bottom: 40vh;
    }
}

.button {
    &Lower {
        width: 80vw;
    }

    &Wrapper {
        margin-left: 16px;
        position: absolute;
        bottom: 12vh;
        width: 100%;
    }
}

.buttonSmall {
    margin-left: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #9e9e9e;
    margin-top: 16px;

    &:active {
        color: #c5c5c5;
    }

    &:hover {
        color: #c5c5c5;
    }
}

.cardContainer {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    transition: all .35s ease-out;
}

.background {
    margin: 8px 0;
    
    &Opacity100 {
        opacity: 1;
        transition: all .35s ease-in;
    }

    &Opacity20 {
        opacity: 0.2;
        transition: all .35s ease-in;
    }
}