.wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.overlay {
  background: linear-gradient(to top, rgba(60, 102, 143, 0.9), rgba(148, 184, 207, 0.9));
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.backgroundImage {
  background: url('./images/egorka.jpg');
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}
