.miniPlayer {
  height: 56px;
  background-color: white;
  border: none;
}

.wrapper {
  width: 100vw;
  height: 56px;
  background-color: rgba(55, 55, 55, 0.3);
  padding-top: 4px;
  align-self: flex-end;
  position: relative;
}

.progress {
  width: 100vw;
  height: 4px;
  position: absolute;
  top: 0px;
  right: 100%;
  background-color: #fee05b;
}

.button {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  position: absolute;
  padding: 16px;
  box-sizing: content-box;
  -webkit-tap-highlight-color: $color-black;

  &:focus {
    outline: none;
  }
}

.buttonPlay {
  background-image: url('./images/play.svg');
  left: 0;
}

.buttonPause {
  background-image: url('./images/pause.svg');
}

.buttonDownload {
  background-image: url('./images/download.svg');
  right: 0;
}

.title {
  display: block;
  line-height: 20px;
  padding: 8px 0 8px 56px;
}

.songTitle {
  font-size: 16px;
  color: $color-black;
  margin-bottom: 1px;
}

.singerName {
  font-size: 12px;
  color: #b4b4b4;
}
