.container {
  position: relative;
  padding: 24px 24px 16px;
  margin-bottom: 24px;
  border-radius: 15px;
  background-color: #7f44ff;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.22);

  &::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 15px;
  }
}

.content {
  position: relative;
  z-index: 1;
}

.title {
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 155px;
}

.button {
  margin-left: auto;
}