.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

// button common
.buttonCommon {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;

  &:focus {
    outline: none;
  }
}

.buttonCommon24 {
  @extends .buttonCommon;
  height: 24px;
  width: 24px;
}

.buttonCommon30 {
  @extends .buttonCommon;
  height: 30px;
  width: 30px;
}

//header row
.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8vh;
  padding-top: 4vh;
  padding-bottom: 3vh;
  touch-action: none;
}

.buttonArrowDown {
  background-position: center;
  background-image: url('./images/arrow_down.svg');
  @extend .buttonCommon24;
}

.playerTitle {
  box-sizing: border-box;
  width: 78vw;
  padding-left: 10px;
  padding-right: 24px;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emojiStyles {
  margin-bottom: 0;
  padding-left: 12px;
}

// main row
.mainRow {
  display: flex;
  align-items: center;
  touch-action: none;
}

.vote {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 260px;
  z-index: 3;
  touch-action: none;
}

.buttonLike,
.buttonDislike {
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 15px;

  &:focus {
    outline: none;
  }
}

.buttonLike {
  background-image: url('./images/like.svg');
  background-color: #ff3333;
}

.buttonDislike {
  background-image: url('./images/skip.svg');
  background-color: #0065d9;
  opacity: 1;
  transition: opacity 0.1s ease-out;

  &Disabled {
    opacity: 0.5;
  }
}

// title row
.titleRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: #ffffff;
  font-family: 'YandexSans';
  line-height: 1.8rem;
  touch-action: none;
}

.songName {
  font-size: 1.5rem;
}

.artistName {
  font-size: 1rem;
  opacity: 0.5;
}

// controls row
.controlsRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 12vh;
  width: 65vw;
  touch-action: none;
}

.buttonPrevious {
  background: url('./images/previous.svg') center center no-repeat;
  width: 33%;
  @extend .buttonCommon30;
}

.playerButton {
  display: inline-block;
  background-size: contain;
  border: none;
  height: 36px;
  width: 36px;

  &:focus {
    outline: none;
  }
}

.playerButtonPlay {
  width: 33%;
  background: url('./images/play.svg') center center no-repeat;
}

.playerButtonPause {
  width: 33%;
  background: url('./images/pause.svg') center center no-repeat;
}

.buttonNext {
  width: 33%;
  background: url('./images/next.svg') center center no-repeat;
  @extend .buttonCommon30;
}

// footer row
.bottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
  width: 90vw;
  touch-action: none;
}

.buttonList {
  @extends .buttonCommon;
  margin-top: 6px;
}

.buttonPlus {
  @extend .buttonCommon24;
  padding: 0;
}

.trackAdded {
  fill: #00b341;
  stroke: #00b341;
}

.buttonRepeat {
  @extend .buttonCommon24;
  padding: 0;

  &Active {
    fill: #00b341;
  }

  &Inactive {
    fill: #fff;
  }
}

// helpers
.flexEnd {
  justify-content: flex-end;
}
