.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 268px;
  height: 56px;
  border-radius: 30px;
  background-color: #4c75a3;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  line-height: 2.06;
  letter-spacing: 0.5px;

  &:active {
    background-color: #4c75a3;
  }

  &:hover {
    background-color: #4c75a3;
  }
}

.vkIcon {
  margin-right: 15px;
}