@font-face {
    font-family: 'YandexSans';
    src: url('./fonts/YandexSansText-Regular.woff2'),
    url('./fonts/YandexSansText-Regular.woff');
}

@font-face {
    font-family: 'YandexSans';
    src: url('./fonts/YandexSansText-Bold.woff2'),
    url('./fonts/YandexSansText-Bold.woff');
    font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-medium.woff2'),
          url('./fonts/roboto-medium.woff');
  font-weight: 500;
}

body {
  font-family: 'YandexSans', Arial;
  margin: 0;
  padding: 0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background: #fff;
}

.loading--spinner {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading--bounce1,
.loading--bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f5ef49;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.loading--bounce2 {
  background-color: #e40f0f;
  animation-delay: -1.0s;
}


@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}
