@font-face {
    font-family: 'YandexSans';
    src: url('./fonts/YandexSansText-Regular.woff2'),
    url('./fonts/YandexSansText-Regular.woff');
}

@font-face {
    font-family: 'YandexSans';
    src: url('./fonts/YandexSansText-Bold.woff2'),
    url('./fonts/YandexSansText-Bold.woff');
    font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-medium.woff2'),
          url('./fonts/roboto-medium.woff');
  font-weight: 500;
}

body {
  font-family: 'YandexSans', Arial;
  margin: 0;
  padding: 0;
}
