@font-face {
    font-family: 'YandexSans';
    src: url('./fonts/YandexSansText-Regular.woff2'),
    url('./fonts/YandexSansText-Regular.woff');
}

@font-face {
    font-family: 'YandexSans';
    src: url('./fonts/YandexSansText-Bold.woff2'),
    url('./fonts/YandexSansText-Bold.woff');
    font-weight: bold;
}

body {
    font-family: 'YandexSans', Arial;
    margin: 0;
    padding: 0;
}
