.enter {
  transform: translateY(100%);
}

.enter.enterActive {
  transform: translateY(0);
  transition: transform 0.3s;
}

.leave {
  transform: translateY(0);
  transition: transform 0.3s;
}

.leave.leaveActive {
  transform: translateY(100%);
}

.wrapper {
  display: none;
}

@media (orientation: landscape) and (max-height: 560px) {
  .wrapper {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .dog {
    width: 200px;
    height: 161px;
    margin: 0 auto 35px;
    background: url('./images/dog.png');
    background-size: contain;
  }

  .text {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: -0.3px;
    text-align: center;
    color: #000000;
    }
}

.dog {
  @media (orientation: landscape) and (max-height: 560px) and (-webkit-min-device-pixel-ratio: 2) {
    background: url('./images/dog@2x.png');
    background-size: contain;
  }

  @media (orientation: landscape) and (max-height: 560px) and (-webkit-min-device-pixel-ratio: 3) {
    background: url('./images/dog@3x.png');
    background-size: contain;
  }
}


