.avatar {
    font-size: 0;
    width: 56px;
    height: 56px;
    background: #ffdc60 url('./images/lapakota.png') no-repeat center center;
    background-size: 28px 41px;
    border-radius: 100%;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12);
}