.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 8vh;
  padding-top: 1vh;
  padding-bottom: 5vh;
}

.titleRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: #ffffff;
  font-family: 'YandexSans';
  line-height: 1.8rem;
}

.songName {
  font-size: 1.5rem;
}

.artistName {
  font-size: 1rem;
  opacity: 0.5;
}

.controlsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  height: 12vh;
  width: 65vw;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
  width: 90vw;
}

.vote {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16vh;
  width: 38vh;
  z-index: 3;
}

.spacer {
  width: 18vh;
}
.buttonList,
.buttonCommon {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
}

.buttonList {
  margin-top: 6px;
}

.buttonCommon24 {
  @extends .buttonCommon;
  height: 24px;
  width: 24px;
}

.buttonCommon30 {
  @extends .buttonCommon;
  height: 30px;
  width: 30px;
}

.buttonRoundCommon {
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  height: 7vh;
  width: 7vh;
}

.buttonLike {
  background-image: url(./images/like.svg);
  background-color: #ff3333;
  @extend .buttonRoundCommon;
}

.buttonLike:focus { outline: none; }

.buttonDislike {
  background-image: url(./images/skip.svg);
  background-color: #0065d9;
  @extend .buttonRoundCommon;
}

.buttonDislike:focus { outline: none; }

.buttonArrowDown {
  background-image: url(./images/arrow_down.svg);
  @extend .buttonCommon24;
}

.buttonArrowDown:focus { outline: none; }

.buttonDownload {
  background-image: url(./images/download.svg);
  @extend .buttonCommon24;
}

.buttonDownload:focus { outline: none; }

.moodIcons {
  width: 78vw;
}

.buttonPrevious {
  background: url(./images/previous.svg) center center no-repeat;
  @extend .buttonCommon30;
}

.buttonPrevious:focus { outline: none; }

.player-button {
  display: inline-block;
  background-size: contain;
  border: none;
  height: 36px;
  width: 36px;

  &--play {
    background: url(./images/play.svg) center center no-repeat;
  }

  &--pause {
    background: url(./images/pause.svg) center center no-repeat;
  }
}

.player-button:focus { outline: none; }

.buttonNext {
  background: url(./images/next.svg) center center no-repeat;
  @extend .buttonCommon30;
}

.buttonNext:focus { outline: none; }

.buttonPlus {
  @extend .buttonCommon30;
}

.buttonPlus:focus { outline: none; }

.buttonRepeat {
  &Active {
    background-image: url(./images/repeat.svg);
    @extend .buttonCommon30;

    &:focus {
      outline: none;
    }
  }

  &Inactive {
    background-image: url(./images/repeat-inactive.svg);
    @extend .buttonCommon30;

    &:focus {
      outline: none;
    }
  }
}
