.backgroundImage {
  background: url('./images/egorka.jpg');
  position: fixed;
  height: 110vh;
  width: 110vw;
  object-fit: cover;
  margin-left: -5vw;
  margin-top: -5vh;
  filter: blur(5px);
  z-index: -2;
}

.overlay {
  background: linear-gradient(to top, rgba(60, 102, 143, 0.9), rgba(148, 184, 207, 0.9));
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
